{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
	<ul>{% spaceless %}
		<li id="tab_manual"><a href="{% url the_manual %}">{% trans "The Manual" %}</a></li>
		<li id="tab_news"><a href="{% url news %}">{% trans "News" %}</a></li>
		<li id="tab_events"><a href="{% url events %}">{% trans "Events" %}</a></li>
	{% endspaceless %}</ul>
    {% if user.is_authenticated %}
        <ul>{% spaceless %}
        	
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
